.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  margin-bottom: 30px;
  border-radius: 10px;
}

.card-body {
  flex: 1 1 auto;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.side-stick-social {
  background-color: rgba(44, 171, 227, .5);
  color: rgba(44, 171, 227, .5);
  display: inline-block;
  height: 15px;
  width: 3px;
  position: absolute;
  left: 0;
  margin-top: 5px;
}

.side-stick-important {
  background-color: rgba(255, 80, 80, .5);
  color: rgba(255, 80, 80, .5);
  display: inline-block;
  height: 15px;
  width: 3px;
  position: absolute;
  left: 0;
  margin-top: 5px;
}

.side-stick-business {
  background-color: rgba(44, 208, 126, .5);
  color: rgba(44, 208, 126, .5);
  display: inline-block;
  height: 15px;
  width: 3px;
  position: absolute;
  left: 0;
  margin-top: 5px;
}

.side-stick-none {
  background-color: rgba(82, 95, 127, .5);
  color: rgba(82, 95, 127, .5);
  display: inline-block;
  height: 15px;
  width: 3px;
  position: absolute;
  left: 0;
  margin-top: 5px;
}

.single-note-item {
  margin-top: 20px;
  height: auto;
}

.note-inner-content {
  white-space: pre-wrap;
}

@media (max-width:991.98px) {
  .single-note-item {
    max-width: 350px;
    margin-top: 20px;
    max-height: 350px;
  }
}

@media (max-width:767.98px) {
  .single-note-item {
    max-width: 100%;
    margin-top: 35px;
    max-height: 200px;
    width: 99%;
  }
}

.dropdown-custom {
  background-color: black;
}

.dropdown-item-custom {
  color: white;
}

.content {
  height: 120px;
  max-height: 120px;
  overflow: auto;
}

@media (max-width:768px) {
  .content {
    height: auto;
    max-height: 100px;
    overflow: hidden;
  }
}

@media (max-width:415px) {
  .content {
    height: auto;
    max-height: 100px;
    overflow: hidden;
  }
}

/*Oculta el scroll*/

::-webkit-scrollbar {
  display: block;
}

.content::-webkit-scrollbar {
  display: none;
}

p {
  margin-bottom: 3px;
}